 <%= form_for(current_user.active_followings.build) do |f| %>
 <div class=""><%= hidden_field_tag :followed_id, obj.id %></div>
 <%= f.submit "Follow", class: "button is-info is-small" %> 
  <% end %> 
        