<div class="column is-one-third">
  <nav class="panel">
    <p class="panel-heading">Who to Follow</p>    
    <div class="column">       
      <div class="box "></br>
        <% current_user.not_following.each do |user| %>
            <article class="media ">
              <div class="media-left is-hidden-touch">
                <div class="image is-square is-64x64"> 
                    <%= show_photo(user) %>
                </div>
              </div>
              <div class="media-content">
                <div class="content">
                  <strong>
                    <%= link_to(user.username, user_path(user)) %></strong>
                </div>
                </div> </br>
                <div class="media-content">
               <%= display_follow_btn(user, 'followings/follow_button') %>

                </div>
              
            </article>
        <% end %>
      </div></br>  
  </nav>
</div>
