<p id="notice"><%= notice %></p>

<section class="section">
  <div class="container">
    <div class="columns">

      <%= render 'side-menu' %>
    
      <%= render 'feed' %>
    
      <%= render 'who-to-follow' %>
    </div>
  </div>
</section>
